{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "sinon": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 1,
    "padded-blocks": 0,
    "no-plusplus": 0
  }
}
